/*
.card-answer {
    display: none;
}
*/
#card-body {
    height: calc(100vh - 220px);
    border: 1px solid black;
    /* overflow: auto; */
}

#learning-progress-indicator {
    background: lightgrey;
}
