#card-body {
    height: calc(100vh - 220px);
    border: 1px solid black;
    /* overflow: auto; */
}

#learning-progress-indicator {
    background: lightgrey;
}

.card-preview {
    min-height: 200px;
}
